.ownership-wrapper {
  overflow: hidden;
}

.ownership-first-section-wrapper {
  position: relative;
  padding-bottom: 50px;
  .ownership-big-pill {
    z-index: 1;
  }
}

.ownership-second-section-wrapper {
  background: linear-gradient(#F6F7FA, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.ownership-third-section-wrapper {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
  .coming-soon {
    top: calc(50% - 60px);
  }
}

.ownership-first-section {
  @include for-small-devices-down {
    padding-top: 60px;
  }
}

.ownership-first-section-left, .ownership-first-section-right {
  width: 50%;
  padding: 16px;
  @include for-small-devices-down {
    width: 90%;
  }
}

.ownership-slider {
  width: 60%;
  transition: all 0.3s ease;
  &:hover {
    filter: blur(10px);
  }
  @include for-medium-devices-down {
    width: 70%;
  }
  @include for-small-devices-down {
    width: 80%;
  }
  @include for-phone-only {
    width: 100%;
  }
}

.ownership-big-pill {
  position: absolute;
  width: 300px;
  top: 290px;
  right: -20px;
  @include for-small-devices-down {
    display: none;
  }
  // @include for-large-devices-down {
  //   right: -395px;
  // }
}

.ownership-little-pill {
  position: absolute;
  width: 120px;
  top: 430px;
  left: -50px;
  @include for-small-devices-down {
    top: 630px;
  }
  // @include for-large-devices-down {
  //   left: -430px;
  // }
}

.ownership-second-section-text {
  width: 32%;
  @include for-medium-devices-down {
    width: 50%;
  }
  @include for-phone-only {
    width: 90%;
  }
}
