.fxone-plus {
  position: relative;
  overflow: hidden;
}

.fxone-plus-graphic {
  transition: all 0.3s ease;
  @include for-phone-only {
    padding: 50px 0;
  }
  &:hover {
    filter: blur(10px);
  }
}

.fxone-plus-wrapper {
  position: relative;
}

.fxone-plus-dots {
  width: 160px;
  position: absolute;
  bottom: -50px;
  left: 300px;
  @include for-medium-devices-down {
    bottom: -90px;
  }
  @include for-phone-only {
    left: auto;
    right: 15px;
    width: 50px;
    bottom: -30px;
  }
}

.fxone-plus-little-pill {
  position: absolute;
  width: 210px;
  bottom: -250px;
  left: -70px;
}

.coming-soon {
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  height: 100px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease;
  // background-color: #F2F4F8;
  z-index: 5;
  @include for-medium-devices-down {
    height: 70px;
    width: 210px;
    top: calc(50% - 35px);
    left: calc(50% - 105px);
  }
}

.coming-soon-text {
  color: #717B8D;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
  margin: 0;
  @include for-medium-devices-down {
    font-size: 16px;
  }
}

.fxone-plus {
  .about-second-section-right {
    position: relative;
  }
}
