// Specific CSS for your home-page

.first-section {
  height: 100vh;
  background: linear-gradient(#EDEFF4, #FAFBFC);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;

  @include for-medium-devices-down {
    flex-direction: column-reverse;
    justify-content: center;
  }

  @include for-small-devices-down {
  }

  @include for-xsmall-phone-only {
    height: 110vh;
    justify-content: flex-start;
  }
}


.first-section-svg {
  position: absolute;
    right: -250px;
    top: -300px;
  z-index: 0;
  width: 1000px;
  height: auto;

  @include for-large-devices-down {
    right: -400px;
  }

  @include for-medium-devices-down {
    width: 650px;
    right: -100px;
    top: -200px;
  }

  @include for-small-devices-down {
    width: 450px;
    top: -50px;
    right: -50px;
  }

  @include for-phone-only {
    width: 400px;
    top: -60px;
    right: -50px;
  }

  @include for-xsmall-phone-only {
    width: 350px;
    right: -70px;
    top: -40px;
  }
}

.first-section-text {
  width: 400px;
  position: relative;
  z-index:1;
  padding: 20px;

  & h1 {
    color: #0D1B26;
  }

  & span {
    color: #DFA740;
    padding-bottom: 5px;
    border-bottom: 1px solid #EECDB5;
  }

  & p {
    padding-top: 20px;
    color: #747B8A;
    font-weight: 300;
    font-size: 21px;
  }

  @include for-phone-only {
    width: 80vw;

    & h1 {
      padding-top: 80px;
    }

    & p {
      font-size: 18px;
    }
  }
}

.first-section-image {
  position: relative;
  z-index:1;

  & img {
    height: auto;
    width: 600px;

    @include for-large-devices-down {
      width: 500px;
    }

    @include for-small-devices-down {
      width: 60vw;
    }
  }
}

.second-section {
  height: 100vh;
  background: linear-gradient(#FAFBFC, white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;

  & img {
    width: 100px;
    height: auto;
    position: relative;
    z-index: 1;
  }

  & h2 {
    color: #0D1B26;
    padding-top: 20px;
    text-align: center;
  }

  & p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #747B89;
    text-align: center;
    font-weight: 300;
  }

  @include for-phone-only {
    width: 90vw;
  }
}

.first-section-svg-2 {
  position: absolute;
  opacity: 0.3;
    bottom: -750px;
    left: -700px;
  z-index: 0;
  width: 1000px;
  height: auto;

  // @include for-large-devices-down {
  // }

  @include for-medium-devices-down {
    width: 800px;
    left: -500px;
  }

  @include for-small-devices-down {
    width: 800px;
    left: -650px;
    bottom: -600px;
  }

  @include for-phone-only {
    left: -700px;
    bottom: -600px;
  }

  @include for-xsmall-phone-only {
  }
}
