.inks-wrapper {
  overflow: hidden;
}

.inks-first-section-wrapper {
  position: relative;
  padding-top: 200px;
  background: linear-gradient(#EBEFF6, #F6F7FA);
  @include for-phone-only {
    padding-top: 100px;
  }
}

.inks-second-section-wrapper {
  background: linear-gradient(#F6F7FA, #FFFFFF);
  position: relative;
  @include for-phone-only {
    padding-top: 50px;
  }
}

.inks-third-section-wrapper {
  background-color: #FFFFFF;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.inks-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-around;
  @include for-small-devices-down {
    flex-direction: column;
  }
}

.inks-big-pill {
  position: absolute;
  right: 0;
  top: 0;
  width: 23vw;
  z-index: 2;
  @include for-small-devices-down {
    // right: -30px;
    // top: 60px;
    width: 40vw;
  }
}

.inks-little-pill {
  position: absolute;
  left: 0;
  top: - 12vw;
  width: 23vw;
  z-index: 2;
  @include for-small-devices-down {
    // right: -30px;
    // top: 60px;
    width: 40vw;
  }
}

.inks-third-section-image {
  @include for-phone-only {
    padding: 0 10px;
  }
}

.inks-first-section-left, .inks-first-section-right {
  width: 50%;
  padding: 16px;
  @include for-small-devices-down {
    width: 100%;
  }
}

.inks-third-section-left {
  width: 60%;
  padding: 16px;

  @include for-phone-only {
    width: 90%;
  }
}

.inks-third-section-right {
  position: relative;
  width: 400px;
  padding: 16px;
  @include for-phone-only {
    width: 90%;
  }
}

.inks-gif {
  z-index: 5;
  @include for-small-devices-down {
    margin-bottom: 40px;
  }
}

.inks-btm {
  position: relative;
  width: 70%;
  margin: 0 auto;
  z-index: 5;
  @include for-small-devices-down {
    width: 90%;
  }
}
.jc {
  display: flex;
  justify-content: center;
  padding: 50px 0 0 10%;
  @include for-small-devices-down {
    padding: 50px 0 0 5%;
  }
}

.inks-first-section-left {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.inks-card {
  background: #FFF;
  // height: 300px;
  // max-width: 400px;
  border: 3px solid #fafafa;
  box-shadow: 0px 15px 40px rgba(0,0,0,0.1);
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

.inks-card-text {
  margin: 0;
  color: #717B8D;
  // font-size: 2vmin;
  font-size: 16px;
  font-weight: lighter;
  // line-height: 3vmin;
  line-height: 25px;
  // @include for-large-devices-up {
  //   font-size: 18px;
  // }
  @include for-large-devices-down {
    font-size: 14px;
  }
}

.inks-card-header {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  // line-height: 3vmin;
  // @include for-large-devices-up {
  //   font-size: 18px;
  // }
  @include for-large-devices-down {
    font-size: 15px;
  }
}

.inks-first-section-right {
  position: relative;
  z-index: 3;
}

.inks-dots {
  width: 200px;
  position: relative;
  left: -70px;
}

.inks-dots-mobile {
  position: absolute;
  top: 0px;
  right: 20px;
  width: 70px;
}

.inks-slant {
  position: absolute;
  top: -450px;
  // left: 0;
  width: 100%;
  right: 0;
  // z-index: -1;
}

.inks-third-section-wrapper {
  position: relative;
  // z-index: -1;
  padding: 100px 0;
}

.inks-fifth-section-text {
  // width: 70%;
  line-height: 40px;
}

.inks-fifth-section-subtext {
  padding-top: 20px;
  color: #747B8A;
  font-weight: 300;
  font-size: 20px;
}

.inks-graphic {
  width: 100%;
  @include for-phone-only {
    width: 100%;
  }
}

.inks-pipes {
  @include for-phone-only {
    width: auto;
    height: 300px;
    margin-left: 290px;
  }
}
