.maintenance-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#EDF1F7, #F8F9FB);
}

.maintenance-container {
  max-width: 1000px;
  width: 60%;
  padding-top: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @include for-large-devices-down {
    width: 70%;
  }
  @include for-medium-devices-down {
    width: 100%;
    flex-direction: column-reverse;
    padding-top: 50px;
    align-items: center;
    justify-content: flex-end;

  }
}

.maintenance-image {
  width: 40%;
  height: 100%;
  @include for-small-devices-down {
    width: 60%;
    height: auto;
  }
}

.maintenance-text {
  width: 60%;
  @include for-small-devices-down {
    text-align: center;
  }
  @include for-phone-only {
    width: 90%;
  }
}

.main-break {
  width: 200px;
  height: 1px;
  border-top: 3px solid #000;
  margin: 30px 0;
  @include for-small-devices-down {
    margin: 30px auto;
  }
}

.foenix-logo {
  width: 100%;
  padding: 16px;
  @include for-small-devices-down {
    margin: 0 auto 50px 0 ;
  }
}

.landing-header {
  font-size: 50px;
  @include-for-medium-devices-down {
    font-size: 42px;
  }
  @include for-small-devices-down {
    font-size: 35px;
  }
}

.landing-big-text {
  font-size: 24px;
  @include for-small-devices-down {
    font-size: 20px;
  }
}

.landing-text {
  font-size: 18px;
  @include for-small-devices-down {
    font-size: 16px;
  }
}
