.sauven-container {
  padding-bottom: 200px;
  @include for-small-devices-down {
    padding-bottom: 50px;
  }
}

.sauven-product-list-container {
  display: flex;
  @include for-small-devices-down {
    flex-direction: column;
  }
}

.suaven-product-list {
  @include for-small-devices-down {
    margin: 0 20px 0 0 !important;
  }
}

.sauven-logo {
  color: #96B3D7;
  font-weight: 900;
  text-align: justify;
  margin-left: auto;
}

.sauven-logo-container {
  @include for-small-devices-down {
    padding: 80px 0;
  }
}
