.software-wrapper {
  position: relative;
  overflow: hidden;
}

.software-first-title {
  margin-bottom: 50px;
  @include for-phone-only {
    margin: 0;
  }
}

.software-first-section-left {
  display: block;
  margin-top: 20px;
  @include for-phone-only {
    margin: 0;
  }
}

.software-section {
  align-items: flex-start;
  .fxone-sixth-section-check {
    @include for-small-devices-down {
      width: 100%;
      margin-left: 20px;
    }
  }
  @include for-small-devices-down {
    flex-direction: column;
  }
  @include for-phone-only {
    display: block;
  }
}

.software-big-pill {
  position: absolute;
  right: -80px;
  top: 0;
  width: 250px;
  z-index: 1;
  @include for-phone-only {
    right: -110px;
    top: 60px;
    width: 210px;
  }
}

.software-little-pill {
  position: absolute;
  left: -120px;
  top: 310px;
  width: 250px;
  z-index: 2;
}

.software-graphic-mobile {
  margin: 0 calc(50% - 45%);
}

.software-second-section-wrapper {
  position: relative;
  padding-top: 200px;
  padding-bottom: 150px;
  background: linear-gradient(#F6F7FA, #FFFFFF);
  @include for-phone-only {
    padding-top: 0;
    padding-bottom: 80px;
  }
}

.software-first-section-right {
  display: flex;
  justify-content: center;
  @include for-small-devices-down {
    margin: 0 auto;
    width: 100%;
  }
  @include for-phone-only {
    flex-direction: column;
  }
}

.software-check-display {
  @include for-small-devices-down {
    display: flex;
    width: 100%;
    div {
      width: 50%;
    }
  }
  @include for-phone-only {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
}

.software-card {
  display: flex;
  border: 3px solid #fafafa;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #FFF;
  height: 200px;
  width: 170px;
  margin: 20px 0;
  padding: 10px;
  p {
    color: #717B8D;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
  @include for-phone-only {
    margin: 20px auto;
    height: 200px;
    width: 180px;
  }
}

.software-cards-little-pill {
  position: absolute;
  left: 0px;
  top: 560px;
  width: 170px;
  z-index: 2;
}

.software-card-icon {
  @include for-phone-only {
    width: 120px;
  }
}

.software-card-left {
  margin-bottom: 80px;
  margin-right: 20px;
  @include for-phone-only {
    margin: 0;
  }
}

.software-card-right {
  margin-top: 80px;
  @include for-phone-only {
    margin: 0;
  }
}

.no-margin-top-mobile {
  @include for-phone-only {
    margin-top: 0;
  }
}

.software-card-text-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.software-section-third-wrapper {
  background-color: #FFF;
  position: relative;
}

.software-graphic-2 {
  width: 80%;
  // margin: 0 auto;
  margin: 0 calc(50% - 40%);
  position: relative;
  @include for-medium-devices-down {
    width: 100%;
    margin: 0;
  }
}

.software-graphic {
  width: 75%;
  @include for-phone-only {
    width: 100%;
    margin-bottom: 50px;
  }
}

.software-graphic-side {
  width: 30%;
  margin: 100px calc(50% - 15%);
}

.software-fifth-section-content {
  margin: 30px auto;
  @include for-phone-only {
    width: 90%;
  }
}

.software-fifth-section-right {
  border-left: 1px solid rgba(0,0,0,0.06);
  @include for-phone-only {
    border: none;
  }
}

.software-third-section-bottom {
  padding: 40px 0;
  position: relative;
  @include for-phone-only {
    padding-top: 0;
  }
}

.software-fourth-section-graphics-container {
  display: flex;
  position: relative;
  @include for-phone-only {
    display: block;
  }
}

.software-fourth-section-text {
  padding: 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.software-fourth-section-wrapper {
  position: relative;
  padding-bottom: 100px;
  @include for-phone-only {
    padding-bottom: 0;
  }
}

.software-fourth-section-graphics {
  width: 45%;
  margin: 16px auto;
  position: relative;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  border-radius: 5px;
  z-index: 1;
  @include for-phone-only {
    width: 100%;
    border-radius: 25px;
  }
}

.software-dots {
  width: 60px;
  position: absolute;
  right: 80px;
  top: 160px;
}

.software-grey-dots {
  width: 180px;
  position: absolute;
  bottom: -60px;
  left: -10px;
}

.software-button {
  margin-left: 16px;
  display: inline-block;
  background-color: #FFEFD4;
  border-color: #FFEFD4;
  color: #FFAD00;
  padding: 12px 25px;
  font-size: 12px;
  p {
    margin: 0 10px 0 0;
  }
  &:hover {
    background-color: #FFAD00;
    color: #FFEFD4;
  }
  @include for-phone-only {
    margin-bottom: 50px;
  }
}

.software-fifth-section-wrapper {
  background: #FFF;
}

.software-middle-graphic {
  width: 60%;
  // margin-left: calc(50% - 35%);
  padding: 50px 0;
  @include for-phone-only {
    width: 100%;
    // margin: 0 0 0 56px;
  }
}

.software-slant {
  position: absolute;
  width: 100%;
  bottom: 0;
  @include for-medium-devices-up {
    height: 1548px;
  }
  @include for-large-devices-up {
    height: 1750px;
  }
  @include for-xlarge-devices-up {
    height: 1950px;
  }
  @include for-xxlarge-devices-up {
    height: 2050px;
  }
}

.software-slant-two {
  position: absolute;
  width: 100%;
  top: 690px;
  @include for-xlarge-devices-up {
    display: none;
  }
}

.software-slant-two-big {
  position: absolute;
  width: 100%;
  top: 690px;
  @include for-large-devices-down {
    display: none;
  }
  @include for-xlarge-devices-up {
    height: 2600px;
  }
  @include for-xxlarge-devices-up {
    height: 2860px;
  }
}


.software-slant-two-loop {
  position: absolute;
  @include for-large-devices-down {
    display: none;
  }
  @include for-xlarge-devices-up {
    right: -660px;
    top: 990px;
    transform: rotate(-3deg);
  }
  @include for-xxlarge-devices-up {
    right: -660px;
    top: 1200px;
    transform: rotate(-2deg);
  }
}

.graphic-shadow {
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
  border-radius: 5px
}



