.fxone-standard-slant {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.fxone-standard {
  // .fxone-third-section-wrapper {
  //   background: linear-gradient(#FFFFFF 50%, #23222C 50%);
  // }
}

