<div class="admin-wrapper">
  <%= cl_image_tag("inks_big_pill_dqob2a.png", class: "jobs-big-pill hide-mobile") %>
  <%= cl_image_tag("inks_little_pill_pahv4x.png", class: "jobs-little-pill hide-mobile") %>
  <div class="container position-relative">
    <h2>Create New Job Posting</h2>
    <%= render "form" %>
  </div>
</div>
