<div class="maintenance-wrapper">
  <div class="maintenance-container sauven-container">
    <div class="maintenance-text">
      <h3 class="mb-4 grey-text landing-header">MAINTENANCE</h3>
      <h4 class="landing-big-text mb-4">We're undergoing a major update.</h4>
      <h4 class="landing-big-text mb-4">Exciting news coming soon ;)</h4>
      <div class="main-break"></div>
      <p class="landing-text mb-0">Sorry for the inconvenience.</p>
      <p class="landing-text">We'll be back up and running as fast as possible</p>
      <p class="landing-text mb-0">In the meantime if you are looking for some information about Sauven Marking please send us an email at:</p>
      <p class="landing-text"><a href="mailto:hello@myloopbeauty.com">sales@sauven-marking.com</a></p>
      <p class="landing-text">If you have any questions regarding our printers and consumables or if you are looking to repair your Sauven printer please do get in touch.</p>
      <p class="landing-text">We provide a full range of spare parts for both inkjet printers and contact coders.</p>
      <p class="landing-text">We can help you with the following products:​​​​</p>
      <div class="sauven-product-list-container text-left">
        <div class="suaven-product-list">
          <p class="bold mb-1" style="color: #17375D">Sauven Printers</p>
          <ul style="padding-left: 16px;">
            <li>Suaven 500</li>
            <li>Suaven 600</li>
            <li>Suaven 700</li>
            <li>Suaven 6000 Plus</li>
            <li>Suaven 6000 Standard</li>
            <li>Suaven Duo</li>
            <li>Suaven Trio</li>
            <li>Suaven Quattro</li>
            <li>Suaven 1000</li>
            <li>Suaven 6000</li>
            <li>Suaven 5000</li>
          </ul>
        </div>
        <div class="suaven-product-list ml-3 mb-3">
          <p class="bold mb-1" style="color: #17375D">Sauven Consumables</p>
          <ul style="padding-left: 16px;">
            <li>CJ6001 - Oil-ink cartridges - Black</li>
            <li>CJ6008 / CJ6009 - Oil Based Cleaner</li>
            <li>CJ6201-T - Solvent-ink cartridges - Black</li>
            <li>CJ6208 / CJ6209 - Solvent based Cleaner</li>
            <li>CJ6206-S - Solvent-ink cartridges - White</li>
            <li>All the special inks</li>
          </ul>
          <p class="bold mb-1" style="color: #17375D">Sauven Contact Coders</p>
          <ul style="padding-left: 16px;">
            <li>Codaprint Machine & consumables</li>
            <li>Codamark Machine & consumables</li>
            <li>Codapack Machine & consumables</li>
          </ul>
        </div>
      </div>
      <p class="landing-text mb-0">You can contact us here:</p>
      <p class="landing-text mb-0"><span class="bold">Tel:</span> 0044 1932 701 449</p>
      <p class="landing-text"><span class="bold">Email:</span> <a href="mailto:hello@myloopbeauty.com">sales@sauven-marking.com</a></p>
      <p class="landing-text mb-0 bold" style="color: #96B3D7">Thank you!</p>
    </div>
    <div class="maintenance-image">
      <div class="sauven-logo-container">
        <h1 class="sauven-logo text-center mb-0" style="letter-spacing: 2px;">Sauven</h1>
        <h1 class="sauven-logo text-center">Marking</h1>
      </div>
    </div>
  </div>
</div>
