.post-card {
  width: 100%;
  background: transparent;
  height: 140px;
  margin: 20px 0;

  & a {
    display: flex;
    height: 100%;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  & img {
    width: 140px;
    height: 140px;
    border-radius: 12px;
    object-fit: cover;
  }

  @include for-xlarge-devices-down {
  }

  @include for-medium-devices-down {
    & img {
      width: 20%;
      height: auto;
      border-radius: 12px;
    }

    & a {
      display: flex;
      justify-content: space-between;
    }
  }

  @include for-small-devices-down {
    height: auto;
    & a {
      flex-direction: column-reverse;
    }

    & img {
      width: 100%;
      height: 300px;
    }
  }

  @include for-phone-only {
    & img {
      width: 100%;
      height: 200px;
    }
  }
}

.post-card-text {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 60px;

  & p {
    text-align: left;
    color: #747B89;
    font-weight: 300;
    margin: 0;
    font-size: 14px;
  }

  & h6 {
    font-weight: 700;
    color: $black-blue;
    margin: 0;
  }

  @include for-xlarge-devices-down {
    padding-right: 30px;

    & p:nth-child(2) {
      padding: 10px 0;
    }
  }

  @include for-large-devices-down {
  }

  @include for-small-devices-down {
    width: 100%;

    & h6 {
      font-size: 22px;
      padding-top: 20px;
    }
  }
}

.post-card-text-details {
  display: flex;
  font-size: 12px;
  justify-content: flex-start;
}

.font-12 {
  font-size: 12px !important;
}


.post-show-card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  // background-color: gray;

  & a {
    width: 100%;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }

  & img {
    object-fit: cover;
    border-radius: 8px;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
  }

  & h6 {
    font-weight: 700;
    color: $black-blue;
    padding: 10px 0;
  }

}
