.navbar-foenix {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 100px 0 50px;
  height: 80px;
  align-items: center;
  background-color: transparent;
  //added this to account for gradient background in home-page
  position: absolute;
  z-index: 10000;
  //end of c

  @include for-medium-devices-down {
    padding: 20px 40px 0 20px;
  }

  @include for-phone-only {
    padding: 20px 30px 0 20px;
  }
}

.navbar-title {
  color: #051B28;
  font-size: 14px;
}

.navbar-lang-link {
  display: inline-block;
  color: #051B28;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  border-radius: 5px;
  @include for-small-devices-down {
    left: 0;
  }
}

.nav-spacer {
  height: 80px;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-right: 40px;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  margin-left: 40px;
}

.navbar-logo {
  width: 50px;
}

.small-chevron {
  font-size: 8px;
}

.navbar-item {
  &:hover {
    a {
      text-decoration: none;
      color: #474747;
    }
    i {
      color: #474747;
    }
  }
}

.hidden-desktop {
  @include for-large-devices-up {
    display: none;
  }
}

.hidden {
  @include for-medium-devices-down {
    display: none;
  }
}

#mobile-navbar {
  font-size: 28px;


  display: none;

  @include for-medium-devices-down {
    display: block;
  }
}

#mobile-menu {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.0);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s;
}

#mobile-links {
  border-radius: 10px;
  width: 400px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  z-index: 100000;
  top: -150px;
  transition: top 0.5s;
  display: flex;
  align-items: center;
  padding: 30px 60px 10px 30px;


  & ul {
    list-style-type: none;
    padding: 0;

    & img {
      padding-right: 20px;
      width: 50px;
      height: auto;
      border-radius: 3px;

      @include for-xsmall-phone-only {
        width: 40px;
      }
    }
  }

  & li {

    & a {
      color: #7F8488;

      &:hover, :active {
        color: #474747;
        text-decoration: none;
      }
    }
  }

  @include for-small-devices-down {
    width: 90vw;
  }

  @include for-small-devices-down {
  }

  @include for-xsmall-phone-only {
    top: -200px;
  }
}

#mobile-links .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 26px;
  margin-left: 50px;
  color: #474747;
  &:hover {
    text-decoration: none;
    color: #EF9761;
  }

  &:active {
    outline: none;
    border: 0;
  }
}

.each-mobile-link {
  padding-bottom: 20px;
  a {
    font-size: 14px;
  }
}

.printers-menu {
  background: #FFF;
  flex-direction: column !important;
  @include for-medium-devices-down {
    width: 100%;
    margin: 0 0 20px 35px;
    padding: 0;
    border-radius: 10px;
    .printers-text-container {
      padding: 0 16px !important;
    }
    .printers-text {
      padding-left: 0px !important;
    }
  }
  &:hover {
    background: #F6F9FC;
  }
}

.printers-text {
  padding-left: 30px !important;
  font-size: 12px !important;
  margin: 10px 0 !important;
}

.printers-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  i {
    font-size: 12px;
  }
}

.first-web-link {
  padding-left: 10px;
  font-size: 14px;
  color: #7F8488;
  cursor: default;
  &:hover {
    color: #474747;
  }
}

.first-mobile-link {
  color: #7F8488;
  font-size: 14px;
  padding-bottom: 5px;
}
